div#progress-bar {
  font-size: 12px;
  font-family: 'Roboto Mono', monospace;
  color: white;
  width: 100%;
  padding: 120px;
  line-height: 1.5em;
  line-width: 10em;
  height: 100px;
  text-align: center;
  word-wrap: break-word;
  position: absolute;
  top: 10%;
  left: 0%;
  border-radius: 50%;
}
