//https://stackoverflow.com/questions/60633244/import-react-component-from-git-submodule-repository
{
  "presets": [
    ["@babel/env", {
      "useBuiltIns": "entry"
      
    }],
    "@babel/react"
  ],
  "plugins": [
    // "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    // "@babel/plugin-proposal-export-namespace-from",
    // "@babel/plugin-proposal-throw-expressions"
  ]
}