.releases-list {
    background: transparent;
    position: absolute;
    top: 20%;
    margin-left: 5%;
    font-size: 1.7rem;
}

.releases-list-title{
    margin-left: 14.5%;
}

.releases-list ul {
    list-style: none;
}

.releases-list ul li:first-child {
    border-bottom: 2px solid #ffffff;
    margin-bottom: 10px;
}

.releases-list ul li {
    padding: 5px 0;
}

.releases-list ul li a:hover{
    border-bottom: 2px solid #ffffff;
}
