.menu {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
}

.menu-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  margin-left: 5px;
  margin-top: 5px;
  z-index: 1000;
  cursor: pointer;
}

.message {
  display: block;
  font-size: 15px;
  width: 50%;
}

.menu-button {
  position: absolute;
  bottom: 20%;
  left: 40%;
  color: rgba(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
  font-size: 36px;
  font-family: "Roboto Mono", monospace;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.modal-message {
  font-size: 20px;
  font-weight: 100;
}

.modal-blob { 
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.modal-content-container {
  display: flex;
  justify-content: center;
  margin: 10%;
}

.controls {
  width: 100%;
  height: 100%;
}

.control-item {
  width: 100%;
  padding-top: 5px;
  position: relative;
  margin-bottom: -40px;
}

.control-icon {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.control-instructions {
  display: inline-block;
  position: absolute;
  margin-left: -30px;
  font-size: 12px;
  margin-top: 7px;
  margin-right: 5px;
}

@media screen and (max-width: 28em) {
  .modal-button {
    font-size: 10px;
    left: 10px;
    bottom: 10px;
  }
  .modal-message {
    font-size: 14px;
  }
}
