.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
}

.overlay-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  margin-left: 5px;
  margin-top: 5px;
  z-index: 1000;
  cursor: pointer;
}


.overlay-button {
  text-transform: uppercase;
  top: 20px;
  width: 200px;
}

.overlay-message {
  position: absolute;
  top: -98%;
  width: 77%;
  z-index: 1000;
  font-size: 20px;
  font-weight: 100;
}

.overlay-message:hover {
  cursor: auto;
}

.overlay-blob { 
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: none;
  z-index: 1;
}

.overlay-content-container {
  margin: 12%;
}

.controls {
  position: absolute;
  top: -80%;
  width: 77%;
}

.control-item {
  width: 100%;
  padding-top: 5px;
  position: relative;
  margin-bottom: -40px;
}

.control-icon {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 88px;
}

.control-instructions {
  display: inline-block;
  position: absolute;
  margin-left: -30px;
  font-size: 17px;
  margin-top: 7px;
  margin-right: 5px;
}

.purchase-container {
  text-transform: uppercase;
  top: -40%;
  right: 23%;
  position:  absolute;
  text-align: center;
}

.purchase-link:hover {
  cursor: pointer;
  opacity: 0.5;
}

.purchase-icon-link {
  font-size: 45px;
  line-height: 36px;
}

.enter-container {
  position: absolute;
  text-align: center;
  top: -40%;
  left: 0%;
}

.enter-link:hover {
  cursor: pointer;
  opacity: 0.5;
}

.enter-icon-link {
  font-size: 45px;
  line-height: 36px;
}

@media screen and (max-width: 112em) {
  .overlay-message {
    font-size: 17px;
  }
  .control-instructions {
    font-size: 15px;
  }
  .purchase-container {
    font-size: 20px;
  }
  .enter-container {
    font-size: 20px;
  }
}

@media screen and (max-width: 56em) {
  .overlay-message {
    font-size: 14px;
  }
  .control-instructions {
    font-size: 12px;
  }
  .purchase-container {
    font-size: 17px;
  }
  .enter-container {
    font-size: 17px;
  }
}

@media screen and (max-width: 28em) {
  .overlay-message {
    font-size: 12px;
  }
  .control-instructions {
    font-size: 10px;
  }
  .purchase-container {
    font-size: 12px;
  }
  .enter-container {
    font-size: 12px;
  }
}