.footer {
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  /* align-self: flex-end; */
  /* height: 50%; */
  width: 100%;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-align: start;
  align-items: center;
}

.overlay {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 5rem 8rem;
  z-index: 2;
  outline: none
}

.overlay-header {
  font-size: 16px;
  font-weight: 100;
  margin-bottom: 2rem;
}

.overlay-icon {
  width: 20px;
  height: 20px;
  position: relative;
  /* left: 0; */
  bottom: 0;
  margin-top: 10px;
  z-index: 10001;
  opacity: 0.5;
}

.overlay-icon:hover {
  opacity: 1;
  cursor: pointer;
}



.overlay-button {
  text-transform: uppercase;
  top: 20px;
  width: 200px;
}


.overlay-blob { 
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 72%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: transparent;
  border: none;
  z-index: 1;
}

.overlay-blob svg {
  position: absolute;
  /* width: 175%;
  height: 175%;
  left: -25%; */
}

.overlay-controls {
  width: 77%;
}

.control-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.control-icon {
  position: relative;
  width: 80px;
  height: 40px;
}

.control-instructions {
  font-size: 12px;
  margin-left: -30px;
}

.purchase-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 100;
  width: 110px;
}

.purchase-container:hover {
  cursor: pointer;
  opacity: 0.5;
}

.purchase-icon-link {
  font-size: 26px;
  line-height: 36px;
  margin: auto 20px auto 5px;
}

.enter-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-weight: 100;
}

.enter-container button {
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border: 2px solid #ffffff;
  background: transparent;
}

.enter-container button:hover {
  opacity: 0.5;
}

.enter-icon-link {
  font-size: 45px;
  line-height: 36px;
}

@media screen and (max-width: 56em) {
  .overlay-blob {
    width: 100%;
  }
  .overlay {
    padding: 4rem 2rem;
  }
  .overlay-header-message {
    padding-top: 30px;
    font-size: 15px;
  }
  .overlay-button {
    font-size: 17px;
  }
  .control-instructions {
    font-size: 12px;
    margin-left: -20px;
  }
  .purchase-container {
    font-size: 10px;
  }
  .purchase-icon-link {
    margin-right: 30px;
  }
  .enter-container {
    font-size: 17px;
  }
}

@media screen and (max-width: 28em) {
  .overlay-blob {
    width: 100%;
  }
  .overlay {
    padding: 4rem 1rem;
  }
  .overlay-header {
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    margin-bottom: 5px;
  }
  .overlay-controls {
    display: none;
  }
  .overlay-header-message {
    font-size: 12px;
  }
  .control-instructions {
    font-size: 10px;
    margin-left: -20px;
  }
  .purchase-container {
    width: 100px;
    font-size: 10px;
    margin-top: 10px;
    margin-left: 0;
  }
  .purchase-icon-link{
    font-size: 20px;
    margin-right: 20px;
  }
  .enter-container {
    font-size: 12px;
  }
}
