.background {
  background: linear-gradient(180deg, #ffffff, #000);
  background-size: 1000% 1000%;
  -webkit-animation: jvplanetltd 60s ease infinite;
  -moz-animation: jvplanetltd 60s ease infinite;
  animation: jvplanetltd 60s ease infinite;
}

@-webkit-keyframes jvplanetltd {
  0%{background-position:50% 0%}
  50%{background-position:51% 100%}
  100%{background-position:50% 0%}
}
@-moz-keyframes jvplanetltd {
  0%{background-position:50% 0%}
  50%{background-position:51% 100%}
  100%{background-position:50% 0%}
}
@keyframes jvplanetltd {
  0%{background-position:50% 0%}
  50%{background-position:51% 100%}
  100%{background-position:50% 0%}
}
