#playlist-container {
    margin: 0%;
    z-index: 999999999;
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0px;
}

/*#playlist {*/
    /*position: relative;*/
    /*width: 100%;*/
    /*overflow: hidden;*/
/*}*/

#playlist text {
    font-family: 'Roboto Mono', monospace;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 10px;
    fill: #faf00;
    stroke: #fafa00;
}


